@model Presentacion.Models.Factura

@{
    ViewData["Title"] = "Ingresar Factura";
}

<div class="card-body m-5" style="background-color:white; border-radius: 5px">

    <div class="container-fluid d-flex flex-column align-items-center">
        <div class="row">
            <h3>Facturas</h3>
        </div>
    </div>

    <div class="container-fluid d-flex flex-column justify-content-center">
        <form asp-action="Create" method="POST">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row m-1">
                @*Item*@
                <label for="cboItems" class="form-label">Item</label>
                <div class="input-group mb-3">
                    <select @* asp-for="CodItem" *@ class="form-select" aria-label="cboItems" id="cboItems">
                        @foreach (var item in ViewBag.Items)
                        {
                            <option value="@item.CodItem">@item.DescItem</option>
                        }
                    </select>
                </div>
            </div>

            @*N°Factura*@
            <div class="row m-1">
                <label for="nFactura" class="form-label">N°Factura</label>
                <div class="input-group mb-3">
                    <input asp-for="NumFactura" type="text" class="form-control" aria-label="nFactura">
                </div>
            </div>

            @*Monto*@
            <div class="row m-1">
                <label for="txtMonto" class="form-label">Monto</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input asp-for="Monto" type="text" class="form-control" aria-label="txtMonto">
                </div>
            </div>

            <div class="row m-1">
                @*Empresa*@
                <label for="cboEmpresa" class="form-label">Empresa</label>
                <div class="input-group mb-3">
                    <select asp-for="Empresa" class="form-select" aria-label="cboEmpresa" id="cboEmpresa">
                        <option selected>Seleccione Empresa</option>
                        <option value="One">One</option>
                        <option value="Two">Two</option>
                        <option value="Three">Three</option>
                    </select>
                </div>
            </div>

            <div class="row m-3">
                <label for="dtRecepcion">Fecha de Recepción</label>
                <input @* asp-for="FechaRecepcion" *@ id="dtRecepcion" class="form-control" type="date" />
            </div>

            <div class="row m-3">
                <label for="dtEntrega">Fecha de Entrega</label>
                <input @* asp-for="FechaEntrega" *@ id="dtEntrega" class="form-control" type="date" />
            </div>

            @*Mes y año contable*@
            <div class="row m-1">
                <div class="col-6">
                    <label for="txtMes">Mes Contable</label>
                    <div class="input-group mb-3">
                        <input asp-for="MesContable" type="text" class="form-control" aria-label="txtMes">
                    </div>
                    <span asp-validation-for="CodFactura" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <label for="txtAnio">Año Contable</label>
                    <div class="input-group mb-3">
                        <input asp-for="AnioContable" type="text" class="form-control" aria-label="txtAnio">
                    </div>
                    <span asp-validation-for="CodFactura" class="text-danger"></span>
                </div>
            </div>

            @*SIT o Contrato*@
            <div class="row m-2">
                <p>Origen</p>
                <div class="col-6">
                    <div class="form-check">
                        <input @* asp-for="Origen" *@ class="form-check-input" type="radio" name="rdbContratoSIT" id="rdbContrato">
                        <label class="form-check-label" for="rdbContrato">
                            Contrato
                        </label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="rdbContratoSIT" id="rdbSIT">
                        <label class="form-check-label" for="rdbSIT">
                            SIT
                        </label>
                    </div>
                    <div class="input-group mb-3">
                        @*If SIT seleccionado, activar*@
                        <input @* asp-for="Origen" *@ type="text" value="sit-" class="form-control" aria-label="txtSIT">
                    </div>
                </div>
            </div>

            @*Botones*@
            <div class="row" style="margin-top:40px">

                <div class="col-12 col-md-4">
                    <div class="m-2">
                        <a asp-action="Index">
                            <div class="d-grid gap-2">
                                <button type="button" style=" background-color: forestgreen; color: white;" class="btn">Volver</button>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="m-2">
                        <div class="d-grid gap-2">
                            <button type="submit" style=" background-color: forestgreen; color: white;" class="btn">Grabar</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>

    </div>

</div>

@* 
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodFactura" class="control-label"></label>
                <input asp-for="CodFactura" class="form-control" />
                <span asp-validation-for="CodFactura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumFactura" class="control-label"></label>
                <input asp-for="NumFactura" class="form-control" />
                <span asp-validation-for="NumFactura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MesContable" class="control-label"></label>
                <select asp-for="MesContable" class ="form-control" asp-items="ViewBag.MesContable"></select>
            </div>
            <div class="form-group">
                <label asp-for="AnioContable" class="control-label"></label>
                <select asp-for="AnioContable" class ="form-control" asp-items="ViewBag.AnioContable"></select>
            </div>
            <div class="form-group">
                <label asp-for="Empresa" class="control-label"></label>
                <input asp-for="Empresa" class="form-control" />
                <span asp-validation-for="Empresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
