@model Presentacion.Models.Factura

@{
    ViewData["Title"] = "Ingresar Factura";
}

<div class="card-body m-5" style="background-color:white; border-radius: 5px">

    <div class="container-fluid d-flex flex-column align-items-center">
        <div class="row">
            <h3>Facturas</h3>
        </div>
    </div>

    <div class="container-fluid d-flex flex-column justify-content-center">
        <form asp-action="Create" method="POST">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row m-1">
                @*Item*@
                <label for="cboItems" class="form-label">Item</label>
                <div class="input-group mb-3">
                    <select name= "codItem" class="form-select" aria-label="cboItems" id="cboItems">
                        @foreach (var item in ViewBag.Items)
                        {
                            <option value="@item.CodItem">@item.DescItem</option>
                        }
                    </select>
                </div>
            </div>

            @*N°Factura*@
            <div class="row m-1">
                <label for="nFactura" class="form-label">N°Factura</label>
                <div class="input-group mb-3">
                    <input asp-for="NumFactura" type="text" class="form-control" aria-label="nFactura">
                </div>
            </div>

            @*Monto*@
            <div class="row m-1">
                <label for="txtMonto" class="form-label">Monto</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input asp-for="Monto" type="text" class="form-control" aria-label="txtMonto">
                </div>
            </div>

            <div class="row m-1">
                @*Empresa*@
                <label for="cboEmpresa" class="form-label">Empresa</label>
                <div class="input-group mb-3">
                    <select asp-for="Empresa" class="form-select" aria-label="cboEmpresa" id="cboEmpresa">
                        <option selected>Seleccione Empresa</option>
                        <option value="One">One</option>
                        <option value="Two">Two</option>
                        <option value="Three">Three</option>
                    </select>
                </div>
            </div>

            <div class="row m-3">
                <label for="dtRecepcion">Fecha de Recepción</label>
                <input name="fechaRecepcion" id="dtRecepcion" class="form-control" type="date" />
            </div>

            <div class="row m-3">
                <label for="dtEntrega">Fecha de Entrega</label>
                <input name="fechaEntrega" id="dtEntrega" class="form-control" type="date" />
            </div>

            @*Mes y año contable*@
            <div class="row m-1">
                <div class="col-6">
                    <label for="txtMes">Mes Contable</label>
                    <div class="input-group mb-3">
                        <input asp-for="MesContable" type="text" class="form-control" id="txtMes">
                    </div>
                    <span asp-validation-for="CodFactura" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <label for="txtAnio">Año Contable</label>
                    <div class="input-group mb-3">
                        <input asp-for="AnioContable" type="text" class="form-control" id="txtAnio">
                    </div>
                    <span asp-validation-for="CodFactura" class="text-danger"></span>
                </div>
            </div>

            @*SIT o Contrato*@
            <div class="row m-2">
                <p>Origen</p>
                <div class="col-6">
                    <div class="form-check">
                        @*ARREGLAR VISUAL*@
                        <div class="row">
                            <div class="col-6">
                                <div>
                                    Contrato <input value="contrato" name="origen" onchange="habilitarInput()" class="form-check-input" type="radio" id="rdbContrato" />

                                </div>
                            </div>
                            <div class="col-6">
                                <div>
                                    SIT <input value="sit" name="origen" onchange="habilitarInput()" class="form-check-input" type="radio" id="rdbSIT" />
                                </div>
                                <div class="input-group mb-3">
                                    <input name="textoSit" type="text" value="sit-" class="form-control" id="txtSIT">
                                </div>
                            </div>

                        </div>
                        
                    </div>
                </div>
            </div>

            @*Comentario*@
            <div class="row m-1">
                <label for="txtComentario" class="form-label">Comentario</label>
                <div class="input-group mb-3">
                    <input name="comentario" type="text" class="form-control" id="txtComentario">
                </div>
            </div>

            @*Botones*@
            <div class="row" style="margin-top:40px">

                <div class="col-12 col-md-4">
                    <div class="m-2">
                        <a asp-action="Index">
                            <div class="d-grid gap-2">
                                <button type="button" style=" background-color: forestgreen; color: white;" class="btn">Volver</button>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="m-2">
                        <div class="d-grid gap-2">
                            <button id="btnGrabar" type="submit" style=" background-color: forestgreen; color: white;" class="btn">Grabar</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>

    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        //Si rdbContrato está seleccionado, se desactiva el txtSIT
        function habilitarInput() {
            var rdbContrato = document.getElementById("rdbContrato");
            var rdbSIT = document.getElementById("rdbSIT");
            var txtSitInput = document.getElementById("txtSIT");

            if (rdbContrato.checked) {
                txtSitInput.disabled = true;
            }
            if (rdbSIT.checked) {
                txtSitInput.disabled = false;
            }
        }
    </script>
    <script>
        document.getElementById("btnGrabar").addEventListener("click", function () {
            var txtSIT = document.getElementById("txtSIT").value;
            var txtComentario = document.getElementById("txtComentario").value;
            var rdbOrigen = $('input[name="origen"]:checked').val();
            var dtRecepcion = $('#dtRecepcion').val();
            var dtEntrega = $('#dtEntrega').val();

            var cboItems = document.getElementById("cboItems").value;
            cboItems = parseInt(cboItems, 10) & 0xFFFF;
            var txtAnio = document.getElementById('txtAnio').value;
            txtAnio = parseInt(txtAnio, 10) & 0xFFFF;

            $.ajax({
                url: '/ControlFacturas/Create',
                type: 'POST',
                data: { textoSIT: txtSIT, codItem: cboItems, anio: txtAnio, codControl: 1, codPresupuesto: 1, codFactura: 1, origen: rdbOrigen, fechaRecepcion: dtRecepcion, fechaEntrega: dtEntrega, comentario: txtComentario },
                //SI DEJA DE FUNCIONAR, PUEDE SER PQ COMENTÉ ESTO
                // success: function (data) {
                //     console.log("YIPIEEEEEEE");

                // },
            });
        });
    </script>
}
