@model Presentacion.Models.Item

@{
    ViewData["Title"] = "Nuevo item";
}

<div class="card-body m-5" style="background-color:white; border-radius: 5px">
    <div class="container-fluid d-flex flex-column align-items-center">
        <div class="row">
            <h3>Items</h3>
        </div>
    </div>

    <div class="container-fluid d-flex flex-column justify-content-center" style="width:800px">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*Item*@
            <div class="row m-2">
                <label for="nombre_item" class="form-label">Item</label>
                <div class="input-group mb-3">
                    <input asp-for="DescItem" type="text" class="form-control" placeholder="Nombre del item" aria-label="nombre_item">
                </div>
                <span asp-validation-for="DescItem" class="text-danger"></span>
            </div>

            @*Concepto*@
            <div class="row m-2">
                <label for="cboConcepto" class="form-label">Concepto</label>
                <div class="input-group mb-3">
                    <select asp-for="CodConcepto" class="form-select" aria-label="cboConcepto">
                        <option selected>Seleccionar concepto</option>
                        @{
                            @foreach (var concepto in ViewBag.Conceptos)
                            {
                                @if(concepto.DescConcepto != "RRHH")
                                {
                                    var conceptoMayus = char.ToUpper(concepto.DescConcepto[0]) + concepto.DescConcepto.Substring(1).ToLower();
                                    <option value="@concepto.CodConcepto">@conceptoMayus</option>
                                }
                                else
                                {
                                    <option value="@concepto.CodConcepto">@concepto.DescConcepto</option>
                                }

                            }
                        }
                    </select>
                </div>
            </div>

            @*Gasto o inversión*@
            <div class="row m-2">
                <div class="col-4">
                    <div class="card">
                        <div class="card-header">Tipo</div>
                        <div class="card-body">
                            <div class="form-check">
                                <div>
                                    Gasto <input type="radio" asp-for="GastoInversion" value="gasto" />
                                </div>
                                <div>
                                    Inversión <input type="radio" asp-for="GastoInversion" value="inversion" />
                                </div>
                            </div>
                            <span asp-validation-for="GastoInversion" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    @*Continuidad o nuevo*@
                    <div class="card">
                        <div class="card-header">Clasificación</div>
                        <div class="card-body">
                            <div class="form-check">
                                <div>
                                    Continuidad Operativa <input type="radio" asp-for="ContNuevo" value="continuidad operativa" />

                                </div>
                                <div>
                                    Nuevo Proyecto <input type="radio" asp-for="ContNuevo" value="nuevo proyecto" />
                                </div>
                            </div>
                            <span asp-validation-for="ContNuevo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                @*Estado*@
                <div class="col-4">
                    <div class="card">
                        <div class="card-header">Estado</div>
                        <div class="card-body">
                            <div class="form-check">
                                <div>
                                    Activo <input type="radio" asp-for="Estado" value="1" checked />

                                </div>
                                <div>
                                    Inactivo <input type="radio" asp-for="Estado" value="0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            @*Botones*@
            <div class="row" style="margin-top:40px">

                <div class="col-12 col-md-4">
                    <div class="m-2">
                        <a asp-action="Index">
                            <div class="d-grid gap-2">
                                <button type="button" style=" background-color: forestgreen; color: white;" class="btn">Volver</button>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="m-2">
                        <div class="d-grid gap-2">
                            <button type="submit" value="Create" style=" background-color: forestgreen; color: white;" class="btn">Grabar</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>

</div>

@* =============== Original ==================
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodItem" class="control-label"></label>
                <input asp-for="CodItem" class="form-control" />
                <span asp-validation-for="CodItem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescItem" class="control-label"></label>
                <input asp-for="DescItem" class="form-control" />
                <span asp-validation-for="DescItem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GastoInversion" class="control-label"></label>
                <input asp-for="GastoInversion" class="form-control" />
                <span asp-validation-for="GastoInversion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContNuevo" class="control-label"></label>
                <input asp-for="ContNuevo" class="form-control" />
                <span asp-validation-for="ContNuevo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodConcepto" class="control-label"></label>
                <select asp-for="CodConcepto" class ="form-control" asp-items="ViewBag.CodConcepto"></select>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@