<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Presentacion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Presentacion.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    @* <style>
        body {
            background-image: url(../../wwwroot/assets/calculator2.jpg);
            background-size: auto;
            background-color: rgba(255,255,255,0.6);
            background-blend-mode: lighten;
        }
    </style> *@
</head>
<body style="background-color:lightgray">

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm" style="background-color:greenyellow">
        <div class="container" style="height:40px">
            <div class="col-2">
                <a asp-action="Index" asp-controller="Home">
                    <img src="~/assets/logo_rhona.png" style="height:40px" />
                </a>
            </div>
            <div class="col-10">
            </div>
        </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Rhona
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
