@model Presentacion.Models.TipoCambio

@{
    ViewData["Title"] = "Nuevo valor Dolar";
}

<div class="card-body m-5" style="background-color:white; border-radius: 5px">
    <div class="container-fluid d-flex flex-column align-items-center">
        <div class="row">
            <h3>Valor USD</h3>
        </div>
    </div>

    <div class="container-fluid d-flex flex-column align-items-center">
        <div class="card" style="width: 30rem;border-color:forestgreen">
            <div class="card-body">
                <form id="formUSD">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*Valor*@
                    <div class="row m-1 form-group">
                        <label for="txtValor" class="form-label">Valor</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="txtValor">
                        </div>
                        <span asp-validation-for="Valor" class="text-danger"></span>
                    </div>
                    
                    @*Mes y año*@
                    <div class="row m-1 form-group">
                        <label for="dtMesAnio" class="form-label">Mes y Año</label>
                        <div class="input-group mb-3">
                            <input type="month" class="form-control" id="dtMesAnio" max="@ViewBag.FechaMaxima">
                        </div>
                        <span class="text-danger"></span>
                    </div>

                    @*Botones*@
                    <div class="row form-group" style="margin-top:40px">

                        <div class="col-12 col-md-4">
                            <div class="m-2">
                                <a asp-action="Index">
                                    <div class="d-grid gap-2">
                                        <button type="button" style=" background-color: forestgreen; color: white;" class="btn">Volver</button>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="m-2">
                                <div class="d-grid gap-2">
                                    <input id="btnNuevo" value="Ingresar" style=" background-color: forestgreen; color: white;" class="btn"/>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>

</div>

@section Scripts {
    <script>
        //Boton nuevo
        document.getElementById("btnNuevo").addEventListener("click", function () {
            var dtMesAnio = document.getElementById("dtMesAnio").value.toString();
            var partesFecha = dtMesAnio.split('-');
            var mes = parseInt(partesFecha[1]);
            var anio = parseInt(partesFecha[0]);
            var txtValor = document.getElementById("txtValor").value;

            $.ajax({
                url: '/Facturas/BuscarDolar',
                type: 'GET',
                data: { mes: mes, anio: anio },
                success: function (data) {
                    if (data == null) {
                        console.log(txtValor);
                        $.ajax({
                            url: '/TipoCambios/Create',
                            type: 'POST',
                            data: { mes: mes, anio: anio, valor: txtValor },
                            success: function (data) {
                                alert("Dólar ingresado exitosamente.");
                            },
                            error: function (error) {
                                alert("Error " + error);
                            }
                        });
                    } else {
                        alert("Fecha ya ingresada")
                    }
                },
            });

            
        });
    </script>
    @* <script>
        document.getElementById("formUSD").addEventListener("submit", function (event) {
            // Detener el envío del formulario para validar si el dólar fue ingresado
            event.preventDefault();

            var txtAnio = document.getElementById('txtAnio').value;
            txtAnio = parseInt(txtAnio, 10) & 0xFFFF;
            var txtMes = document.getElementById('txtMes').value;
            txtMes = parseInt(txtMes, 10) & 0xFF;

            $.ajax({
                url: '/Facturas/BuscarDolar',
                type: 'GET',
                data: { mes: txtMes, anio: txtAnio },
                success: function (data) {
                    if (data == null) {
                        this.submit();
                    } else {
                        alert("Fecha ya ingresada")
                    }
                },
            });
        });
    </script> *@


}